*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    background-color: #8f2128;
    color: white;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.about {
    min-height: 100vh;
    width: 100%;
    padding: 10rem;
}

.about h1 {
    margin-bottom: 5rem;
    text-align: center;
    margin-top: 5rem;
    font-size: 3vw;
}

.service {
    min-height: 100vh;
    width: 100%;
    padding: 10rem;
    
}

.service h1 {
    margin-bottom: 5rem;
    text-align: center;
    margin-top: 5rem;
    font-size: 3vw;
}

.service .cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.service .cont .box {
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background-color: rgba(88, 22, 22, 0.349);
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}


.contact{
    background-color: rgb(24, 24, 24);
}

.contact .cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.contact .cont .box {
    flex: 1 1 5rem;
    padding: 0rem 5rem 5rem;
    border-radius: 2rem;
    text-align: center;

}

.contact h1 {
    padding: 5rem 0rem 0rem;
    margin-bottom: 5rem;
    text-align: center;
    margin-top: 2.rem;
    font-size: 2vw;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3vw;

}

header ul li {
    list-style-type: none;
    display: inline;
    padding: 10px 20px;
}

header ul li a {
    transition: .3s;
    color: white;
    text-decoration: none;

}

header ul li a:hover {
    font-size: large;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to bottom right,var(--tw-gradient-stops));
    --tw-gradient-from: #ff6169;
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to, rgba(248, 113, 113, 0));
    --tw-gradient-to: #ff0011;
    color: transparent;
    text-decoration: none;
    transition: .3s;
}

.theme { 
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to bottom right,var(--tw-gradient-stops));
    --tw-gradient-from: #ff6169;
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to, rgba(248, 113, 113, 0));
    --tw-gradient-to: #ff0011;
    color: transparent;
}

#text {
    position: absolute;
    font-size: 7.9vw;
    /*right: 0px;*/
}

.up {
    position: fixed;
    width: 50px;
    height: 50px;
    background: #ae2727;
    bottom: 20px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 20px;
    border-radius: 50px;
    
}
