*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    min-height: 100vh;
    background-color: #8f2128;
    color: white;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3vw;

}

header ul li {
    list-style-type: none;
    display: inline;
    padding: 10px 20px;
}

header ul li a {
    transition: .3s;
    color: white;
    text-decoration: none;

}

header ul li a:hover {
    font-size: large;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to bottom right,var(--tw-gradient-stops));
    --tw-gradient-from: #ff6169;
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to, rgba(248, 113, 113, 0));
    --tw-gradient-to: #ff0011;
    color: transparent;
    text-decoration: none;
    transition: .3s;
}

.theme { 
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to bottom right,var(--tw-gradient-stops));
    --tw-gradient-from: #ff6169;
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to, rgba(248, 113, 113, 0));
    --tw-gradient-to: #ff0011;
    color: transparent;
}

#text {
    position: absolute;
    font-size: 7.9vw;
    /*right: 0px;*/
}